<template>
  <f7-page data-page="goods" class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      {{getGroceryName()}}
      <f7-nav-right>
        <f7-link href="cart/" class="button button-raised">
          <svg class="icon cart">
            <use xlink:href="#cart"></use>
          </svg>
        </f7-link>
        <f7-link href="#" data-panel="right" class="button open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <ul class="goods-list">
      <li v-for="item in goods" class="goods-list__item">
        <div class="goods-list__image">
          <img :data-src="'https://www.perekrestok.ru' + item.cover" class="lazy lazy-fadeIn ks-demo-lazy" />
        </div>
        <div class="goods-list__desc">
          <p>{{ item.title }}</p>
          <p>{{ item.priceRouble }},{{ item.pricePenny }} руб.</p>
        </div>

        <div class="goods-list__btns">
          <a href="#" class="button color-green goods-button__plus" @click="decrementCount(item)">-</a>
          <input type="text" v-model="item.count" maxlength="2" class="goods-input">
          <a href="#" class="button color-green goods-button__minus" @click="incrementCount(item)">+</a>
          <div class="flex1"></div>
          <a href="#" :class="{ 'button-fill': !item.inCart }" class="button color-green button-raised goods-button__add" @click="addToCart(item, $event)">
            <svg class="goods-icon__cart">
              <use xlink:href="#cart"></use>
            </svg>
          </a>
        </div>

      </li>
    </ul>



  </f7-page>
</template>


<script>

  import localshops from '../../mockData/shops'
  import goods from '../../mockData/goods'

  export default {
    props: ['groceryId'],
    data () {
      return {
        shops: localshops,
        goods: goods,
        image: '/images/shops/auchan.png'
      }
    },
    created () {
      this.$root.data.groceryId = (this.groceryId >= 0) ? this.groceryId : this.$root.data.groceryId
    },
    methods: {
      getCategoryName () {
        return this.$root.data.categoryId
      },
      getGroceryName () {
        if (!this.$root.data.groceryId) return
        return this.shops.filter(function (e) {
          return e.id === Number(this.$root.data.groceryId)
        }.bind(this))[0].name
      },
      incrementCount (item) {
        if (item.count >= 99) return
        item.count = item.count + 1
      },
      decrementCount (item) {
        if (item.count === 1) return
        item.count = item.count - 1
      },
      addToCart (item, e) {
        if (!item.inCart) {
          this.putToCart(item)
          e.currentTarget.classList.remove('button-fill')
          item.inCart = true
        } else {
          this.removeFromCart(item)
          e.currentTarget.classList.add('button-fill')
          item.inCart = false
        }
      },
      putToCart (item) {
        if (!this.$root.data.cart[this.$root.data.groceryId]) {
          this.$root.data.cart[this.$root.data.groceryId] = {
            id: this.$root.data.groceryId,
            items: []
          }
        }

        this.$root.data.cart[this.$root.data.groceryId]['items'].push(item)
      },

      removeFromCart (item) {
        let groceryCart = this.$root.data.cart[this.$root.data.groceryId]
        if (!groceryCart) return

        const filtered = groceryCart['items'].filter(function (e) {
          return e.id !== item.id
        })

        groceryCart['items'] = filtered

        if (this.$root.data.cart[this.$root.data.groceryId]['items'].length === 0) {
          delete this.$root.data.cart[this.$root.data.groceryId]
        }
      }
    }
  }

</script>


<style>
  @import "goods-list.css";
</style>
