
.category-name {
    font-size: 18px;
    margin: 20px 1.5% 10px;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.goods-list__item {
    flex-basis: 47%;
    margin: 1.5%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
}

.goods-list__desc {
    flex: 1;
}
.goods-list__desc p {
    width: 100%;
    line-height: 1;
    text-align: left;
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.goods-list__image {
    text-align: center;
}
.goods-list__image img{
    height: 140px;
}

.goods-list__btns {
    display: flex;
    justify-content: space-between;
}

.goods-list__btns .button,
.goods-list__btns input {
    min-width: 0;
}
.goods-list__btns input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
}

.button.goods-button {
    font-size: 24px;
}
.button.goods-button__plus {
    padding-left: 0;
    text-align: left;
}
.button.goods-button__minus {
    padding-right: 0;
    text-align: right;
}
.button.goods-button__add {
    display: flex;
    align-items: center;
}

.button.color-green:not(.button-fill) svg, .color-green.buttons-row .button:not(.button-fill) svg {
    fill: #4caf50 !important;
}

.flex1 {
    flex: 1;
}

.goods-icon__cart {
    width: 20px;
    height: 20px;
}