<template>
  <f7-page data-page="grocery" class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      {{getGroceryName()}}
      <f7-nav-right>
        <f7-link href="cart/" class="button button-raised">
          <svg class="icon cart">
            <use xlink:href="#cart"></use>
          </svg>
        </f7-link>
        <f7-link href="#" data-panel="right" class="button open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <div class="grocery">
      <img :src="getGroceryImage()" class="grocery__image" />
      </div>
    </div>

    <div class="list-block accordion-list">
      <ul>
        <li v-for="category in grocery" class="accordion-item">
          <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">{{ category.name }}</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <div class="list-block">
              <ul>
                <li v-for="item in category.items" class="accordion-item-link">
                  <a :href="'groceries/' + getGroceryId() + '/list/'" class="item-link item-content">
                    <div class="item-inner">
                      <div class="item-title">{{ item.name }}</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

<!--
    <div class="list-block">
      <ul>
        <li v-for="item in grocery">
          <a :href="'groceries/' + item.id + '/'" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">{{ item.name }}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>-->

  </f7-page>
</template>


<script>

  import grocery from '../../mockData/grocery'
  import localshops from '../../mockData/shops'

  export default {
    props: ['groceryId'],
    data () {
      return {
        grocery: grocery,
        shops: localshops
      }
    },
    created () {
      this.$root.data.groceryId = (this.groceryId >= 0) ? this.groceryId : this.$root.data.groceryId
    },
    methods: {
      getGroceryImage () {
        if (!this.$root.data.groceryId) return
        return this.shops.filter(function (e) {
          return e.id === Number(this.$root.data.groceryId)
        }.bind(this))[0].image
      },
      getGroceryName () {
        if (!this.$root.data.groceryId) return
        return this.shops.filter(function (e) {
          return e.id === Number(this.$root.data.groceryId)
        }.bind(this))[0].name
      },
      getGroceryId () {
        return this.$root.data.groceryId
      }
    }
  }

</script>


<style scoped>

  .grocery {
    padding: 10px;
  }

  .grocery__image {
    width: 100%;
  }

  .grocery__stages {
    padding-left: 15px;
    list-style-type: decimal;
  }
  .accordion-item-link {
    padding-left: 20px;
  }
</style>
