<template>
  <div data-page="toolbar-bottom" class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      Магазины
      <f7-nav-right>
        <f7-link href="cart/" class="button button-raised">
          <svg class="icon cart">
            <use xlink:href="#cart"></use>
          </svg>
        </f7-link>
        <f7-link href="#" data-panel="right" class="button open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <div class="toolbar toolbar-bottom">
      <div class="toolbar-inner">
        <f7-link href="groceries/" class="link-on-tab button">
          <svg class="icon groceries">
            <use xlink:href="#groceries"></use>
          </svg>
          <label>Продукты</label>
        </f7-link>
        <f7-link href="receipts/" class="link-on-tab button">
          <svg class="icon cookbook">
            <use xlink:href="#cookbook"></use>
          </svg>
          <label>Рецепты</label>
        </f7-link>
        <f7-link href="cart/" class="link-on-tab button">
          <svg class="icon cart">
            <use xlink:href="#cart"></use>
          </svg>
          <label>Корзина</label>
        </f7-link>
      </div>
    </div>

    <div class="page-content">
      <div class="category-name">Ваш город: <b>Екатеринбург</b></div>

      <ul class="tiles-list">
        <li class="tiles-list__item--wrapper">
          <a href="groceries/1/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/monetka.png">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/2/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/logo-perekrestok-new.png">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/3/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/auchan.png">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/4/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/giperbola.jpg">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/5/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/karusel.png">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/6/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/lenta.jpg">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/7/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/logo-magnit.png">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/8/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/logo-okey.jpg">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/9/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/logo-spar.jpg">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/10/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/pyatyorochka.png">
            </div>
          </a>
        </li>
        <li class="tiles-list__item--wrapper">
          <a href="groceries/11/" class="tiles-list__item">
            <div class="tiles-list__image">
              <img src="../../images/shops/rait.png">
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

import localshops from '../../mockData/shops'

export default {
  data () {
    return {
      localshops: localshops
    }
  }
}
</script>

<style scoped>
  .tiles-list__image {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    width: auto;
    height: auto;
  }
  .tiles-list__image img {
    object-fit: contain;
  }

  .link-on-tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .link-on-tab svg {
    flex: 1;
  }

  .groceries {
    margin-bottom: 3px;
  }
  .cart {
    margin-bottom: 1px;
  }

  .link-on-tab label {
    line-height: 1;
    font-size: 10px;
  }
</style>
