@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl_300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl_300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl_500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}