.text-and-shadow {
  color: white;
  text-shadow: 0 0 3px #474747, 0 0 6px #575757, 0 0 9px #979797;
}

.page-content {
  max-width: 768px;
  margin: 0 auto;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.color-white {
  color: white;
}

.navbar-inner {
  line-height: 1;
}

.tiles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 200px;
}

.tiles-list__item {
  height: 62px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 6px 6px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.tiles-list__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.tiles-list__image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%!important;
}

.tiles-list__title {
  width: 100%;
  line-height: 1;
  padding: 10px;
  text-align: left;
  position: relative;
  z-index: 1;
  font-size: 18px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.16) 40%, rgba(0,0,0,0.16) 60%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0.16) 40%, rgba(0,0,0,0.16) 60%, rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0.16) 40%, rgba(0,0,0,0.16) 60%, rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 100%);


}

.navbar .button {
  width: 56px;
}


svg {
  fill: white;
}

.navbar a.link, .toolbar a.link, .subnavbar a.link {
  padding: 3px 16px;
}