<template>
  <div data-page="toolbar-bottom" class="page">

  <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      Корзина
      <f7-nav-right>
        <f7-link href="#" data-panel="right" class="button button-raised open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>


    <div class="page-content">
      <div class="category-name">Ваша корзина <span v-if="!getCarLength()"> пуста</span></div>


      <div class="card" v-for="store in cart">
        <div class="card-header">{{ getGroceryName(store.id) }}</div>
        <div class="card-content">
          <div class="card-content-inner">


            <ul class="goods-list">
              <li v-for="item in store.items" class="goods-list__item goods-list__item--cart">
                <div class="goods-list__image">
                  <img :data-src="'https://www.perekrestok.ru' + item.cover" class="lazy lazy-fadeIn ks-demo-lazy" />
                </div>
                <div class="flex1">
                  <div class="goods-list__desc">
                    <p>{{ item.title }}</p>
                    <p>{{ item.priceRouble }},{{ item.pricePenny }} руб.</p>
                  </div>

                  <div class="goods-list__btns">
                    <a href="#" class="button color-green goods-button__plus" @click="decrementCount(item)">-</a>
                    <input type="text" v-model="item.count" maxlength="2" class="goods-input">
                    <a href="#" class="button color-green goods-button__minus" @click="incrementCount(item)">+</a>
                    <div class="flex1"></div>
                    <a href="#" :class="{ 'button-fill': !item.inCart }" class="button color-red button-raised goods-button__add" @click="remove(item, $event, store.id)">
                      X
                    </a>
                  </div>
                </div>


              </li>
            </ul>

          </div>
        </div>
        <div class="card-footer">Сумма: {{getAmount(store.id)}} руб.</div>
      </div>
    </div>

    <div class="toolbar toolbar-bottom" v-if="getCarLength()">
      <div class="toolbar-inner">
        <a href="/" class="tab-link button active">
          <label>Сделать заказ</label>
        </a>
      </div>
    </div>



  </div>
</template>

<script>

  import localshops from '../../mockData/shops'
  import goods from '../../mockData/goods'

  const cart = {
    data () {
      return {
        shops: localshops,
        goods: goods,
        cart: this.$root.data.cart
      }
    },
    created () {
      this.$root.data.groceryId = (this.groceryId >= 0) ? this.groceryId : this.$root.data.groceryId
    },
    methods: {
      getCarLength () {
        return Object.keys(this.cart).length
      },
      getCategoryName () {
        return this.$root.data.categoryId
      },
      getGroceryName (groceryId) {
        if (!this.$root.data.groceryId) return
        return this.shops.filter(function (e) {
          return e.id === Number(groceryId)
        })[0].name
      },
      incrementCount (item) {
        if (item.count >= 99) return
        item.count = item.count + 1
      },
      decrementCount (item) {
        if (item.count === 1) return
        item.count = item.count - 1
      },
      remove (item, e, storeId) {
        this.removeFromCart(item, storeId)
        e.currentTarget.classList.add('button-fill')
        item.inCart = false
      },
      removeFromCart (item, storeId) {
        let groceryCart = this.$root.data.cart[storeId]
        if (!groceryCart) return

        const filtered = groceryCart['items'].filter(function (e) {
          return e.id !== item.id
        })

        groceryCart['items'] = filtered

        if (this.$root.data.cart[storeId]['items'].length === 0) {
          delete this.$root.data.cart[storeId]
        }

        this.$router.refreshPage()
      },
      getAmount (storeId) {
        if (!this.$root.data.cart[storeId]) return
        const arr = this.$root.data.cart[storeId]['items']
        let amount = 0
        arr.map(function (item) {
          let temp = item.priceRouble + '.' + item.pricePenny
          amount = amount + Number(temp)
        })
        return amount
      }
    }
  }

  export default cart

</script>

<style scoped>

  .goods-list__item.goods-list__item--cart {
    flex-basis: 100%;
    flex-direction: row;
  }

  .goods-list__image {
    max-width: 80px;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .goods-list__image img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .goods-list__desc {
    font-size: 12px;
    padding-left: 10px;
  }
  .goods-list__desc p:first-child {
    margin-top: 0;
  }
  .goods-list {

  }

  .toolbar-inner {
    justify-content: center;
  }

  .page-content {
    padding-bottom: 60px;
  }
</style>
