<template>
  <f7-page data-page="filter-result" class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      Подбор рецептов: Результат ({{total}})
      <f7-nav-right>
        <f7-link href="#" data-panel="right" class="button button-raised open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <ul class="tiles-list">
      <li v-for="receipt in category.items">
        <a :href="'receipt/' + receipt.id + '/'"  class="tiles-list__item">
          <div class="tiles-list__image">
            <img :data-src="receipt.image" class="lazy lazy-fadeIn ks-demo-lazy" />
          </div>
          <div class="tiles-list__title text-and-shadow">{{ receipt.name }}</div>
        </a>
      </li>
    </ul>

  </f7-page>
</template>


<script>

  import category from '../mockData/category'

  export default {
    data () {
      return {
        category: category,
        total: category.items.length
      }
    },
    created () {
//      if (!this.$root.UserConfig) {
//        this.$root.UserConfig = {}
//      }
    }
  }
</script>
