<template>
  <f7-page data-page="filter" class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      Подбор рецептов
      <f7-nav-right>
        <f7-link href="#" data-panel="right" class="button button-raised open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <div class="list-block">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <select name="categories">
                  <option>Любая категория</option>
                  <option v-for="item in categories" >{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <select name="maindish">
                  <option>Любое блюдо</option>
                  <option v-for="item in mainDishes" >{{item}}</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <select name="kitchen">
                  <option>Любая кухня</option>
                  <option v-for="item in kitchens" >{{item}}</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <select name="menu">
                  <option>Любое меню</option>
                  <option v-for="item in menus" >{{item}}</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="item-link item-content autocomplete-opener autocomplete-include">
            <input type="hidden">
            <div class="item-inner">
              <div class="item-title">Включить ингридиенты</div>
              <div class="item-after"></div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content autocomplete-opener autocomplete-exclude">
            <input type="hidden">
            <div class="item-inner">
              <div class="item-title">Исключить ингридиенты</div>
              <div class="item-after"></div>
            </div>
          </a>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <a href="/filter/result/" class="button color-green button-fill button-raised">Подобрать блюда</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </f7-page>
</template>


<script>

  import $$ from 'dom7'
  import categories from '../mockData/categories'
  import mainDishes from '../mockData/MainDishes'
  import kitchens from '../mockData/Kitchens'
  import menus from '../mockData/Menus'

  export default {
    data () {
      return {
        categories: categories,
        mainDishes: mainDishes,
        kitchens: kitchens,
        menus: menus,
        fruits: ['Спагетти', 'Панчетта', 'Твердый сыр', 'Яичный желток', 'Свежемолотый черный перец', 'Соль', 'Сахар', 'Яйцо куриное', 'Пшеничнапя мука', 'Яблоко', 'Растительное масло', 'Сода', 'Апельсин']
      }
    },
    created () {
      this.app = window.f7

      this.app.onPageInit('filter', function (page) {
        this.autocompleteStart('.autocomplete-include', this.fruits)
        this.autocompleteStart('.autocomplete-exclude', this.fruits)
      }.bind(this))
    },
    methods: {
      autocompleteStart (el, array) {
        this.app.autocomplete({
          openIn: 'page', // open in page
          opener: $$(el), // link that opens autocomplete
          multiple: true, // allow multiple values
          source: function (autocomplete, query, render) {
            var results = []
            if (query.length === 0) {
              render(results)
              return
            }
            // Find matched items
            for (var i = 0; i < array.length; i++) {
              if (array[i].toLowerCase().indexOf(query.toLowerCase()) >= 0) results.push(array[i])
            }
            // Render items by passing array with result items
            render(results)
          },
          onChange: function (autocomplete, value) {
            // Add item text value to item-after
            $$(el).find('.item-after').text(value.join(', '))
            // Add item value to input value
            $$(el).find('input').val(value.join(', '))
          }
        })
      }
    }
  }

</script>
