<template>
  <f7-page class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      Энциклопедия продуктов
      <f7-nav-right>
        <f7-link href="#" data-panel="right" class="button button-raised open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <div class="list-block media-list">
      <ul>
        <li v-for="ingredient in ingredients">
          <div class="item-content">
            <div class="item-media">
              <img :data-src="ingredient.image" class="lazy lazy-fadeIn ks-demo-lazy image" />
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">{{ingredient.name}}</div>
              </div>
            </div>
          </div>
        </li>
      </ul>



    </div>
  </f7-page>
</template>


<script>

  import { base } from '../mockData/ingredients'

  export default {
    data () {
      return {
        ingredients: base
      }
    }
  }

</script>


<style scoped>
  img.image {
    width: 80px;
  }

  .list-block.media-list .item-inner, .list-block li.media-item .item-inner {
    display: flex;
    align-items: center;
  }
  .list-block .item-title {
    white-space: normal;
  }
  .list-block.media-list .item-media, .list-block li.media-item .item-media {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .list-block .item-content {
    padding-left: 6px;
  }
</style>
