<template>
  <f7-page>
    <f7-navbar title="Меню" sliding></f7-navbar>
    <!--<div class="content-block-title">Links</div>-->
    <div class="list-block">
      <ul>
        <li>
          <f7-link @click="$f7.mainView.router.loadPage('/groceries/')" class="item-link item-content close-panel" data-panel="right">
            <div class="item-media"><i class="f7-icons">layers</i></div>
            <div class="item-inner">
              <div class="item-title">Магазины</div>
            </div>
          </f7-link>
        </li>
        <li>
          <f7-link @click="$f7.mainView.router.loadPage('/index/')" class="item-link item-content close-panel" data-panel="right" >
            <div class="item-media"><i class="f7-icons">menu</i></div>
            <div class="item-inner">
              <div class="item-title">Рецепты</div>
            </div>
          </f7-link>
        </li>
        <!--<li>-->
          <!--<f7-link @click="$f7.mainView.router.loadPage('/collections/')" class="item-link item-content close-panel" data-panel="right" >-->
            <!--<div class="item-media"><i class="f7-icons">layers</i></div>-->
            <!--<div class="item-inner">-->
              <!--<div class="item-title">Подборки</div>-->
            <!--</div>-->
          <!--</f7-link>-->
        <!--</li>-->
        <li>
          <f7-link @click="$f7.mainView.router.loadPage('/filter/')" class="item-link item-content close-panel" data-panel="right" >
            <div class="item-media"><i class="f7-icons">icon-filter</i></div>
            <div class="item-inner">
              <div class="item-title">Подбор рецептов</div>
            </div>
          </f7-link>
        </li>
        <li>
          <f7-link @click="$f7.mainView.router.loadPage('/cart/')" class="item-link item-content close-panel" data-panel="right" >
            <div class="item-media"><i class="f7-icons">icon-list</i></div>
            <div class="item-inner">
              <div class="item-title">Корзина</div>
              <div class="item-after">16</div>
            </div>
          </f7-link>
        </li>
        <!--<li>-->
          <!--<f7-link @click="$f7.mainView.router.loadPage('/diets/')" class="item-link item-content close-panel" data-panel="right" >-->
            <!--<div class="item-media"><i class="f7-icons">icon-reload_round</i></div>-->
            <!--<div class="item-inner">-->
              <!--<div class="item-title">Диеты</div>-->
              <!--<div class="item-after"><span class="badge">NEW</span></div>-->
            <!--</div>-->
          <!--</f7-link>-->
        <!--</li>-->
        <!--<li>-->
          <!--<f7-link @click="$f7.mainView.router.loadPage('/programs/')" class="item-link item-content close-panel" data-panel="right" >-->
            <!--<div class="item-media"><i class="f7-icons">icon-calendar</i></div>-->
            <!--<div class="item-inner">-->
              <!--<div class="item-title">Программы питания</div>-->
              <!--<div class="item-after">12</div>-->
            <!--</div>-->
          <!--</f7-link>-->
        <!--</li>-->
        <li>
          <f7-link @click="$f7.mainView.router.loadPage('/ingredients/')" class="item-link item-content close-panel" data-panel="right" >
            <div class="item-media"><i class="f7-icons">icon-book_fill</i></div>
            <div class="item-inner">
              <div class="item-title">Энциклопедия продуктов</div>
              <div class="item-after"></div>
            </div>
          </f7-link>
        </li>
        <li>
          <f7-link @click="$f7.mainView.router.loadPage('/quiz/')" class="item-link item-content close-panel" data-panel="right" >
            <div class="item-media"><i class="f7-icons">icon-book_fill</i></div>
            <div class="item-inner">
              <div class="item-title">Пройти тест заново</div>
              <div class="item-after"></div>
            </div>
          </f7-link>
        </li>
        <li>
          <a onclick="localStorage.clear();" class="item-link item-content close-panel" data-panel="right" >
            <div class="item-media"><i class="f7-icons">icon-book_fill</i></div>
            <div class="item-inner">
              <div class="item-title">Reset</div>
              <div class="item-after"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </f7-page>
</template>

<style scoped>
  .list-block .item-media + .item-inner {
    margin-left: 10px;
  }
  .list-block .item-inner {
    font-size: 13px;
  }
  .list-block .item-media {
    min-width: 0;
  }

  .f7-icons {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
</style>
