<template>
  <f7-page class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      Программы питания
      <f7-nav-right>
        <f7-link href="#" data-panel="right" class="button button-raised open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <p>Программы питания</p>
  </f7-page>
</template>
