<template>
  <f7-page class="page">

    <div class="content">
      <f7-link href="/index/" @click="$root.saveData('mealType', '1')" class="tile-link tile-link__regular"><span>Обычное <br> меню</span></f7-link>
      <f7-link href="/index/" @click="$root.saveData('mealType', '2')" class="tile-link tile-link__vegetarian"><span>Вегетарианское <br> меню</span></f7-link>
    </div>

  </f7-page>
</template>


<script>

  // TODO: Я просто хочу заказывать продукты / я хочу заказывать продукты по рецептам
  // TODO: Я предпочитаю диетическую пищу / обычную

  export default {
    props: ['questionId']
  }
</script>


<style scoped>
  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
  }

  .tile-link {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-size: cover;
    color: white;
    text-shadow: 0 0 3px #474747, 0 0 6px #575757, 0 0 9px #979797;
    font-size: 32px;
    line-height: 1;
    flex: 1;
  }
  
  .tile-link__regular {
    background-image: url("../images/noodle-dishes-beef-broccoli.jpg");
    margin-bottom: 1px;
  }
  .tile-link__vegetarian {
    background-image: url("../images/buckwheat-buddha-bowl.jpeg");
    background-position: right;
  }
</style>
