<!-- Initial page of the main view, please see ../app.vue for more information about the application layout -->

<template>
    <div data-page="toolbar-bottom" class="page kitchen-sink-material">

      <f7-navbar sliding :title="$root.config.title">
        <f7-nav-right>
          <f7-link href="#" data-panel="right" class="button button-raised open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
        </f7-nav-right>
      </f7-navbar>

      <div class="toolbar toolbar-bottom">
        <div class="toolbar-inner">
          <f7-link href="groceries/" class="link-on-tab button">
            <svg class="icon groceries">
              <use xlink:href="#groceries"></use>
            </svg>
            <label>Продукты</label>
          </f7-link>
          <f7-link href="receipts/" class="link-on-tab button">
            <svg class="icon cookbook">
              <use xlink:href="#cookbook"></use>
            </svg>
            <label>Рецепты</label>
          </f7-link>
          <f7-link href="cart/" class="link-on-tab button">
            <svg class="icon cart">
              <use xlink:href="#cart"></use>
            </svg>
            <label>Корзина</label>
          </f7-link>
        </div>
      </div>

      <div class="page-content">
        <ul class="tiles-list">
          <li v-for="item in categories" class="tiles-list__item--wrapper">
            <a :href="'category/' + item.id + '/'"  class="tiles-list__item">
              <div class="tiles-list__image">
                <img :data-src="item.image" class="lazy lazy-fadeIn ks-demo-lazy" />
              </div>
              <div class="tiles-list__title text-and-shadow">{{ item.name }}</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
</template>


<script>

  import categories from '../mockData/categories'

  export default {
    data () {
      return {
        categories: categories
      }
    },
    mounted () {
//      if (!this.$root.UserConfig) {
//        this.$root.UserConfig = {}
//      }
    }
  }
</script>


<style scoped>
  .link-on-tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .link-on-tab svg {
    flex: 1;
  }

  .groceries {
    margin-bottom: 3px;
  }
  .cart {
    margin-bottom: 1px;
  }

  .link-on-tab label {
    line-height: 1;
    font-size: 10px;
  }
</style>
