<template>
  <f7-page data-page="receipt" class="page">
    <f7-navbar sliding>
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      {{receipt.name}}
      <f7-nav-right>
        <f7-link href="#" data-panel="right" class="button button-raised open-panel"><div class="icon"><i class="f7-icons color-white">bars</i></div></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <img :src="receipt.image" class="receipt__image" />
    <div class="receipt">
      <div class="receipt__desc">
        <h3>
          {{receipt.description}}
        </h3>

        <h4>Ингридиенты</h4>
        <ul class="ingredients">
          <li v-for="ingredient in receipt.ingredients">
            {{getIngredientName(ingredient.id)}}

            <i>
              {{ingredient.weight}} {{getIngredientUnit(ingredient.id)}}
            </i>
          </li>
        </ul>

        <a href="#" class="button color-green button-fill button-raised button-add">Добавить ингридиенты в корзину</a>

        <h4>Рецепт</h4>

        <ul class="receipt__stages">
          <li v-for="stage in receipt.stages">
            {{stage}}
          </li>
        </ul>
      </div>
    </div>


  </f7-page>
</template>


<script>

  import $$ from 'dom7'
  import receipt from '../mockData/receipt'
  import ingredients from '../mockData/ingredients'
  import units from '../mockData/units'

  export default {
    props: ['receiptId'],
    data () {
      return {
        receipt: receipt,
        ingredients: ingredients,
        units: units
      }
    },
    created () {
      const app = window.f7

      console.log('1')

      app.onPageInit('receipt', function (page) {
        $$('.button-add').on('click', function () {
          app.addNotification({
            message: 'Simple message'
          })
        })
      })
    },
    methods: {
      getIngredientName (iId) {
        return this.ingredients.filter(function (e) {
          return e.id === iId
        })[0].name
      },
      getIngredientUnit (uId) {
        return this.units.filter(function (e) {
          return e.id === uId
        })[0].abbreviation
      }
    }
  }

</script>


<style scoped>

  .receipt {
    padding: 10px;
  }

  .receipt__image {
    width: 100%;
  }

  .receipt__stages {
    padding-left: 15px;
    list-style-type: decimal;
  }
</style>
